#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #intro p {
    /* border: 2px solid brown; */
    margin: 0px 30px;
    font-size: 3em;
    margin-top: 2em;
}

#pic img {
    /* padding-top: 60px; */
    padding-left: 30px;
    width: 20em;
    /* height: 101%; */
}


