/* CSS on body */

body {
    background-color: #c1cfcf;
}
* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS on navbar */

#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgb(247, 241, 241);
    /* border: 2px solid red; */
}

#logo {
    margin-top: 5px;
    margin-left: 25px;
}

#logo img {
    height: 80px;
    width: 80px;
}

#sections {
    margin: auto 0px;
}

#sections ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
}
a {
    padding: 8px 12px;
    font-size: x-large;
    text-decoration: none;
}

#homepage {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 52em;
    margin: 0px auto;
}

#intro {
    /* border: 2px solid red; */
    margin-top: 46px;
    text-align: center;

}

#btn_contact {
    border: 1px solid blue;
    background-color: #39dc3fbd;
    display: block;
    margin: 0px auto;
    border-radius: 65px;
}

#intro p {
    /* border: 2px solid brown; */
    margin: 0px 60px;
    font-size: 4em;
    margin-top: 3em;
}


/* #pic {
    margin-top: 46px;
    border: 2px solid blue;
} */

#pic img {
    /* padding-top: 60px; */
    padding-left: 50px;
    height: 101%;
    width: 40em;
}

#intro button {
    margin-top: 25px;
    height: 50px;
    width: 256px;
    /* border-radius: 32px; */
}

#intro button a {
    padding: 25%;
    /* color: rgb(32, 15, 180); */
}

#title_pjt {
    padding-bottom: 50px;
}

#project {
    /* border: 2px solid red; */
    text-align: center;

}

h1 {
    font-size: 4rem;
}

#row1 {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    flex-wrap: wrap;
    /* border: 2px solid green; */
}

#p_card1 {
    text-align: center;
    background-image: url('cg.jpg');
}

#p_card2 {
    text-align: center;
    background-image: url('NS.jpg');
}

#p_card3 {
    text-align: center;
    background-image: url('DM1.webp');
}

#row2 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    flex-wrap: wrap;
    /* border: 2px solid green; */
}

#p_card4 {
    text-align: center;
    background-image: url('WC.jpeg');
}

#p_card5 {
    text-align: center;
    background-image: url('Networking.webp');
}

#p_card6 {
    text-align: center;
    background-image: url('CC.jpg');
}

.card {
    border: 2px solid red;
    max-width: 6em;
    height: 10em;
    border-radius: 45px;
    font-size: 45px;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(240, 8, 209);
    margin: 10px 15px;
}

/* Button on project card */
.pbtn {
    border: 2px solid green;
    border-radius: 32px;
    margin-top: 225px;
    height: 48px;
    background-color: #4c275200;
    
}

.pbtn a {
    padding: 30px 75px;
    font-size: x-large;
    color: rgb(240, 8, 209);
}

#pbtn5 {
    margin-top: 280px;
}


#s_card1 {
    grid-area: card1;
}

#s_card2 {
    grid-area: card2;
}

#s_card3 {
    grid-area: card3;
}

#s_card4 {
    grid-area: card4;
}

#s_card5 {
    grid-area: card5;
}

#s_card6 {
    grid-area: card6;
}

#skill_acvhievement {
    text-align: center;
    /* border: 2px solid blue; */
}

#s_card {
    margin: 50px 0px;
    padding: 0px 10em;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'card1 card1 card2 card2'
        'card3 card4 card4 card5'
        'card6 card6 card6 card5';
}

@media screen and (max-width:900px)
{
    #s_card{
        display: flex;
        flex-direction: column;
    }
}
.skill_card {
    border: 2px solid red;
    background-color: green;
    border-radius: 35px;
    padding-bottom: 10px;
    font-size: larger;

}

.skill_card img {
    padding: 1em;
    display: inline-block;
    max-width: 10em;
    max-height: 10em;
    margin-top: 25px;
}
.skill_card h3{
    font-size: 2em;
    color: pink;
}
/* contact form */

#contact {
    text-align: center;
    /* border: 4px solid blue; */
}

#form {
    background-image: url('ct.webp');
    display: inline-block;
    border: 2px solid red;
    margin: 50px 0px;
    border-radius: 25px;
    text-align: left;
}

.content {
    /* border: 2px solid black; */
    font-size: 2em;
    margin: 10px 6px;
}

.input {
    border: 2px solid blue;
    font-size: 0.87em;
    border-radius: 5px;
    padding: 0px 75px;
    padding-top: 10px;
    text-align: left;
}

#introd {
    text-align: center;
}

#submit {
    text-align: center;
    margin: 0px auto;
    margin-top: 3px;
    margin-bottom: 8px;
}

#submit input {
    font-size: xx-large;
    padding: 6px 55px;
    border-radius: 14px;
    border: 2px solid green;
}